#banner {
  grid-area: banner;
  padding: .5ex;
  margin-bottom: 0ex;
  background-color: rgb(213, 219, 225);
  Color: rgb(0, 0, 255);
  text-align: center;
}

#content {
  grid-area: content;
  margin-top: 3ex;
  width: 100%;
  padding-right: 3ex;
  padding-left: 3ex;
  float: left;
  padding-bottom: 2ex;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}

  #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
  }

  * { 
    box-sizing: border-box;
  }
  html, body {
    min-height: 100%;
    background: whitesmoke;
    color: #000;
  }
    /* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
    
  /* body {
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
  } */

  body {
    margin: 1ex 1ex 1ex 1ex;
    padding: 0px;
    display: grid;
    grid-template-areas:
        "pl banner pr"
        "pl navbar pr"
        "pl content pr"
        "pl footer pr";
    grid-template-columns: 1fr 100ch 1fr;
    grid-template-rows: max-content max-content max-content max-content;
}
    /* sets the base font size for the document; turns on kerning pairs and ligatures */
    
  body, ul, ol, dl {
    margin: 0;
  }
  article, aside, audio, 
  footer, header, nav, section, video {
    display: block; 
    }
    
    /* ensures that older browsers will display HTML5 elements correctly */
    
  h1 {
    font-size: 2rem;
  }
    /* begins to set up font sizes relative to base rem – h1 has been used as an example */
    
  p { 
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  } 
    /* sets hyphenation by default on paragraphs */
    
  textarea { 
    resize: vertical;
  }
   /* changes textarea resizing from "both" (UA default) to vertical only */
   
  table { border-collapse: collapse; }
  td {
    padding: .5rem;
  }
    /* causes tables to actually look like tables */
    
  img { 
    border: none;
    max-width: 100%;
  }
    /* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
    
  input[type="submit"]::-moz-focus-inner, 
    input[type="button"]::-moz-focus-inner {
      border : 0px;
    }
    /* removes the inner border effect from focused buttons for form elements in Firefox */
    
  input[type="search"] { 
    -webkit-appearance: textfield;
  } 
  input[type="submit"] { 
    -webkit-appearance:none;
  }
    /* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
    
  input:required:after {
    color: #f00;
    content: " *";
  }
    /* sets up required form fields with the conventional following red asterix */
  input[type="email"]:invalid { 
    background: #f00;
  }
    /* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
    
  .right { 
    float: right;
    margin-left: 2rem;
    clear: right;
  }
  .left { 
    float: left;
    margin-right: 2rem;
    clear: left;
  }
    /* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
    
  sub, sup { 
    line-height: 0;
  }

  div {
    display: block;
}

.lec {
  margin-bottom: 4ex;
  background-color: #F0F0FF;
  border: solid black;
  padding: 1ex;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(21, 154, 159);
}

.upload-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #F0F0FF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.upload-button:hover {
  background-color: #4095c6;
}

@media all and (max-width:30em){
  .upload-button{
    display: block;
    margin: 0.2em auto;
  }
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgb(213, 219, 225);
  Color: rgb(0, 0, 255);
	text-align: center;
}